<html>

<head>
    <title>RDRF | Patient registration</title>
    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <style>
        body {
            background-color: #edeff1;
        }
    </style>
</head>

<body>
    <br/>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h3>You have successfuly activated your account.</h3><br>
            Please proceed to <a href="{% url 'login' %}?next={% url 'login_router' %}">login page</a>.
        </div>
    </div>
</body>

</html>