{% extends "rdrf_cdes/base.html" %}
{% load i18n %}

{% block content %}

<br>

<div class="alert alert-warning">
    {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
</div>

<form class="form-inline" action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
        <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Email address">
    </div>
    <input type="submit" class="btn btn-warning" value="{% trans 'Reset my password' %}" />
</form>

{% endblock %}