{% extends "rdrf_cdes/base.html" %}
{% load i18n %}

{% block content %}
<br>

{% if validlink %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info">
                {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
            </div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="New Password" class="form-control" />
                </div>
                <div class="form-group">
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="Confirm password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">
        {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </div>
{% endif %}

{% endblock %}