{% load countries %}
{% load static %}

<html>

<head>
    <title>RDRF | Patient registration</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="{% static  'js/pwstrength-bootstrap-1.2.5.min.js' %}"></script>
    
    <style>
        body {
            background-color: #edeff1;
            padding-bottom: 70px;
        }
        .top-separator {
            border-top: dotted 1px #bbb;
            padding-top: 20px;
        }
        .bottom-separator {
            border-bottom: dotted 1px #bbb;
            padding-bottom: 20px;
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var _MS_PER_DAY = 1000 * 60 * 60 * 24 * 365;

            function dateDiffInYears(a, b) {
                var utc2 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
                var utc1 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());
            
                return Math.floor((utc2 - utc1) / _MS_PER_DAY);
            }

            $("#parent_guardian_form").hide();
            $("#underage_msg").hide();
            $("#form-other-clinician").hide();
            $("#parent_guardian_form_btn").hide();
            
            var registry_code = "{{registry_code}}"
            $('#id_password1').pwstrength({
                ui: { showVerdictsInsideProgressBar: true }
            });
            
            var dateOptions = {
                'dateFormat': 'yy-mm-dd',
                'showAnim': 'blind',
                'changeMonth': true,
                'changeYear': true,
                'minDate': '-100Y',
                'maxDate': '0',
                'yearRange': '-100:+0'
            }
            
            $("#id_date_of_birth").datepicker(dateOptions);
            $("#id_parent_guardian_date_of_birth").datepicker(dateOptions);
            
            $("#parent_guardian_check").click(function() {
                if($(this).prop("checked")) {
                    $("#parent_guardian_form").show();
                    $("#patient_form").hide();
                    $("#parent_guardian_form_btn").show();
                    $("#login_details").show();
                } else {
                    $("#parent_guardian_form").hide();
                    $("#patient_form").show();
                    $("#parent_guardian_form_btn").hide();
                }
            });
            
            $("#patient_form_btn").click(function() {
                $("#patient_form").show();
                $("#parent_guardian_form").hide();
            });
            
            $("#parent_guardian_form_btn").click(function() {
                $("#patient_form").hide();
                $("#parent_guardian_form").show();
            });
            
            $.get("{% url 'clinician_lookup' %}", { 'registry_code': registry_code }, function(data) {
                clinician_drop = $("#id_clinician");
                $.each($.parseJSON(data), function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
                clinician_drop.append($('<option>', { value : 'clinician-other' }).text('Other - not listed'));
            });

            $("#registration-submit").click(function() {
                var registration_form = $("#registration-form");
                $("#id_email").val($("#id_username").val());
                if (registration_form.valid()) {
                    registration_form.submit();
                }
            });
            /**
            $('#id_clinician').change(function() {
                if($('#id_clinician option:selected').val() == 'clinician-other') {
                    $("#form-other-clinician").show("blind");
                } else {
                    $("#form-other-clinician").hide("blind");
                }
            });
            **/
            $("#id_date_of_birth").change(function() {
                if ($("#parent_guardian_check").prop("checked")) {
                    return;
                }
                date_str = $("#id_date_of_birth").val();
                dob = new Date(date_str);
                if (dateDiffInYears(new Date(),dob) >= 18 ) {
                    $("#underage_msg").hide("blind");
                    $("#patient_form").show("blind");
                } else {
                    $("#underage_msg").show();
                    $("#patient_form").hide();
                    $("#login_details").hide();
                }
            });            
        });    
    </script>
</head>

<body>
    {{form.errors}}
    <br>
    <div class="container">
        <div class="alert alert-info">
            <strong>Rare Disease Registry - Patient Registration</strong>
        </div>
        <div id="underage_msg">
            <div class="alert alert-danger">
                For legal reasons you must be 18 or over in order to register here. If you are the parent or guardian of a child that you would like to register as a patient, please enter your own data in this first step. You will be asked for the patient’s data in a later step. If you are a patient who is under 18, please get your parent or guardian to fill in this form with you.
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Personal data</h3>
                Please enter your own details here, even if you are not the patient yourself. If you are registering a child as a patient, you will be able to enter his or her details in a later step. Please note that you must be the patient’s parent or guardian to enter a patient other than yourself.
            </div>
            <div class="col-md-6" style="text-align: justify; border-left: dotted 1px #bbb;">
                <form class="form-horizontal" id="registration-form" method="POST" style="padding-left: 20px; padding-right: 15px;">
                    {% csrf_token %}
                    <input type="hidden" name="registry_code" value="{{registry_code}}">
                    <input id="id_email" name="email" type="hidden" />
                    
                    <div class="form-group">
                        <label><input type="checkbox" name="parent_guardian_check" id="parent_guardian_check"> I am a Parent/Guardian</label>
                    </div>
                    
                    <div id="parent_guardian_form">
                        <div class="form-group top-separator">
                            <input class="form-control" placeholder="Parent/Guardian First Name" id="id_parent_guardian_first_name" maxlength="30" name="parent_guardian_first_name" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian Surname" id="id_parent_guardian_last_name" maxlength="30" name="parent_guardian_last_name" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian Date of birth" id="id_parent_guardian_date_of_birth" name="parent_guardian_date_of_birth" type="text" required />
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" id="id_parent_guardian_gender" name="parent_guardian_gender" value="M">Male</label>
                                <label><input type="radio" id="id_parent_guardian_gender" name="parent_guardian_gender" value="F">Female</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian Address" id="id_parent_guardian_address" maxlength="100" name="parent_guardian_address" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian Suburb/Town" id="id_parent_guardian_suburb" maxlength="30" name="parent_guardian_suburb" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian State" id="id_parent_guardian_state" maxlength="30" name="parent_guardian_state" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Parent/Guardian Postcode" id="id_parent_guardian_postcode" maxlength="30" name="parent_guardian_postcode" type="text" required />
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="Parent/Guardian Country" id="id_parent_guardian_country" name="parent_guardian_country" required>
                                <option value="-1">Country</option>
                                {% countries as countries %}
                                {% for con in countries %}
                                    <option value="{{con.alpha2}}">{{con.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <button type="button" class="btn btn-info" id="patient_form_btn">
                                Patient Details <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <div id="patient_form">
                        <div class="form-group top-separator">
                            <input class="form-control" placeholder="First Name" id="id_first_name" maxlength="30" name="first_name" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Surname" id="id_surname" maxlength="30" name="surname" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Date of birth" id="id_date_of_birth" name="date_of_birth" type="text" required />
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" id="id_gender" name="gender" value="M">Male</label>
                                <label><input type="radio" id="id_gender" name="gender" value="F">Female</label>
                            </div>
                        </div>

                        <div class="form-group top-separator">
                            <input class="form-control" placeholder="Address" id="id_address" maxlength="100" name="address" type="text" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Suburb/Town" id="id_suburb" maxlength="30" name="suburb" type="text" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="State" id="id_state" maxlength="30" name="state" type="text" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Postcode" id="id_postcode" maxlength="30" name="postcode" type="text" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="Country" id="id_country" name="country">
                                <option value="-1">Country</option>
                                {% countries as countries %}
                                {% for con in countries %}
                                    <option value="{{con.alpha2}}">{{con.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group top-separator">
                            <select class="form-control" id="id_clinician" name="clinician">
                                <option value="-1">Choose your preferred Clinician</option>
                            </select>
                        </div>
                        <div id="form-other-clinician">
                            <div class="form-group">
                                <input class="form-control" placeholder="Clinician's Name" id="id_other_clinician_name" name="other_clinician_name" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Clinician's Hospital" id="id_other_clinician_hospital" name="other_clinician_hospital" type="text" />
                            </div>
                            <div class="form-group bottom-separator">
                                <input class="form-control" placeholder="Clinician's or Hospital's Address" id="id_other_clinician_address" name="other_clinician_address" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Phone Number" id="id_phone_number" name="phone_number" type="text" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info" id="parent_guardian_form_btn">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Parent / Guardian Details
                            </button>
                        </div>
                    </div>
                    
                    <div id="login_details">
                        <div class="form-group">
                            <h5><div class="label label-warning">Please provide vaild email address as your username</div></h5>
                            <input class="form-control" placeholder="Username" id="id_username" maxlength="50" name="username" type="email" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" id="id_password1" name="password1" type="password" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Repeat password" id="id_password2" name="password2" type="password" required />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="button" id="registration-submit" class="btn btn-warning pull-right">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="padding-top: 10px;">
            <small>
            <p class="text-justify text-muted">
            Privacy Statement - 
            All information we receive from you will be treated confidentially and will be encrypted and stored on a secure server. Your data will not be made available to employers, government organizations, insurance companies or educational institutions, nor to your spouse, other members of your family or your doctor. Only anonymous health information will be made accessible to qualified researchers who are granted permission by the Steering committee. You may also download the TREAT-NMD privacy policy to know more from <a href="www.treat-nmd.eu/downloads/file/registries_toolkit/Charter_Global_Registry_Revised_and_Approved_April_2014.pdf" target="_blank">here</a>.
            </p>
            </small>
        </div>
    </nav>
    
</body>

</html>