{% extends "admin/base_site.html" %}
{% load static %}

{% load charts %}

{% block extrastyle %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Adjudication Results for {{patient}} </h1>
<h2>Statistics</h2>
{% pie_chart "id_stats" stats.pie_data %}
<div class="row">
{% for field in fields %}
    <div class="col-md-4">
        <h2>{{ field.label }}</h2><br>
        {% bar_chart field.id field.bar_chart_data %}<br>
        Average = {{ field.avg }}
    </div>
{% endfor %}
</div>

<h2>Adjudication Decision:</h2>
{% if not adjudication.decision %}
<form method="post">{% csrf_token %}
    {{ decision_form }}
     <input type="hidden" name="patient_id" value="{{patient.pk}}"/>
    <p></p>
     <input type="submit" class="btn btn-info" value="Submit Adjudication Decision"/>
</form>
{% else %}
<br>
This adjudication has been decided. Your decision was:<br>
        {% for pair in adjudication.decision.display_actions %}
        {{pair.0}}: {{pair.1}}<br>
        {% endfor %}
{% endif %}


{% endblock %}


