{% load staticfiles %}
{% load version_number %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RDRF - Rare Disease Regstry Framework </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/compiled/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/animate.css' %}">

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="home">
    <header class="navbar navbar-inverse hero" role="banner">
          <div class="container">
            <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="{% url 'landing' %}" class="navbar-brand">RDRF {% version_number %}</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://rare-disease-registry-framework.readthedocs.org/en/latest/">Documentation</a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/ccgmurdoch/rdrf">Source code</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Registries on this site <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            {% for reg in registrys %}
                            <li>
                                <a href="{% url 'registry' reg.code %}">
                                    {{reg.name}}{% if reg.version %} v{{reg.version}}{% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>

                  </ul>
            </nav>
          </div>
    </header>

    <div id="hero">
        <div class="container">
            <h1 class="hero-text animated fadeInDown">
                The Rare Disease Registry<br>
                Framework

            </h1>
            <p class="sub-text animated fadeInDown">
                Create a patient registry without software development.
            </p>

        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <h3>Need a patient registry for your department, clinic or community?</h3>
                    <p>RDRF allows for rapid creation of patient registries.</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row header">
                <div class="col-md-12">
                    <h3>What is the Rare Disease Registry Framework?</h3>
                    <p>The Rare Disease Registry Framework (RDRF) is an open source tool for the creation of web-based patient registries. What makes it unique is that data entry forms and questionnaires are
                        based on reusable data element definitions (called "Common Data Elements" ) which can be created and/or loaded into the system at
                        runtime. This means that registries can be created and modified without changes to the source code. RDRF has been developed at the Centre for Comparative Genomics, Murdoch University, Western Australia in partnership with the Office of Population Health Genomics, Department of Health Western Australia.</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row header">
                <div class="col-md-12">
                    <h3>Publications</h3>
                    <p>
M.I. Bellgard, L. Render, M. Radochonski, and A. Hunter, Second generation registry framework, Source Code for Biology and Medicine, 9 (2014), 14.
                    </p>
                    <p>
M. Bellgard, C. Beroud, K. Parkinson, T. Harris, S. Ayme, G. Baynam, T. Weeramanthri, H. Dawkins, and A. Hunter, Dispelling myths about rare disease registry system development, Source Code for Biology and Medicine, 8 (2013), 21.
                    </p>
                    <p>
M.I. Bellgard, A. Macgregor, F. Janon, A. Harvey, P. O'Leary, A. Hunter, and H. Dawkins, A modular approach to disease registry design: successful adoption of an internet-based rare disease registry, Human Mutation, 33 (2012), E2356–66.
                    </p>
                    <p>
M. Rodrigues, G. Hammond-Tooke, A. Kidd, D. Love, R. Patel, H. Dawkins, M. Bellgard, and R. Roxburgh, The New Zealand neuromuscular disease registry, Journal of Clinical Neuroscience, 19 (2012), 1749-1750.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 menu">
                    <ul>
                        <li>
                            <a href="mailto:rdrf@ccg.murdoch.edu.au">rdrf@ccg.murdoch.edu.au</a>
                        </li>
                        <li>
                            <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a>
                        </li>
                        <li>
                            <a href="http://www.genomics.health.wa.gov.au/">Office of Population Health Genomics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 menu">
                    <ul>
                        <li>
                            <a href="http://rare-disease-registry-framework.readthedocs.org/en/latest/">Documentation</a>
                        </li>
                        <li>
                            <a href="https://bitbucket.org/ccgmurdoch/rdrf">Source code</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 copyright">
                    Authorised by Prof Matthew Bellgard, Director, Centre for Comparative Genomics, Murdoch University.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 copyright">
                    Copyright © 2015. Murdoch University. Landing page React theme Copyright © 2014
                </div>
            </div>

        </div>
    </div>
</body>
</html>
