{% extends "rdrf_cdes/base.html" %}

{% block header %}
<div id="branding" class="branding">
    <h1 id="site-name">Rare Disease Registry Framework</h1>
</div>
{% endblock %}

{% block content %}
    <div class="container">
	<div class="page-header">
	  <h1><i>Welcome to Rare Disease Registry Framework!</i></h1>
	</div>
    
	<div class="well">
	<p class="text-justify">
	  RDRF ( Rare Disease Registry Framework ) is a tool for the creation of web-based data entry forms and questionnaires based on reusable data element definitions ( "Common Data Elements" ) which can be created and/or loaded into the system at runtime without changes to the source code. RDRF has been developed at the Centre for Comparative Genomics
	</p>
	</div>
	<div class="panel panel-info">
	    <div class="panel-heading"><h3>The following registries are defined on this site</h3></div>
	    <table class="table table-hover">
        <thead>
        <th>Registry</th>
        <th>Version</th>
        <th>Description</th>
        <th>Information Page</th>
        </thead>
	    {% for reg in registrys %}
	        <tr>
		    <td>{{reg.name|upper}}</td>
            {% if reg.version %}
            <td>{{reg.version}}</td>
            {% else %}
            <td>No version code</td>
            {% endif %}
		    <td>{{ reg.desc }}</td>
		    <td>
			{% if reg.splash_screen %}
			    <a href="{% url 'registry' reg.code %}" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> Go to the registry</a>
			{% else %}
			    No further information is available
			{% endif %}
		    </td>
		</tr>
	    {% endfor %}
	    </table>
	</div>
    </div>
{% endblock %}
