{% extends "rdrf_cdes/base.html" %}
{% load countries %}

{% block extrastyle %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        function not_implemented() {
            alert("This feature is coming soon...");
        }
    
        $(document).ready(function(){
            $("#id_date_of_birth").datepicker({
                "dateFormat": "yy-mm-dd"
            });
            
            $.get("{% url 'clinician_lookup' %}", { 'registry_code': "{{registry_code}}" }, function(data) {
                clinician_drop = $("#id_clinician");
                $.each($.parseJSON(data), function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
                clinician_drop.append($('<option>', { value : 'clinician-other' }).text('Other - not listed'));
            });

            $("#registration-cancel").click(function() {
                $("#new-patient-form").slideUp();
            });
            
            $("#id_use_parent_address").click(function() {
                if($(this).prop("checked")) {
                    $("#new_patient_address").slideUp();
                } else {
                    $("#new_patient_address").slideDown();
                }
            });
        });
    </script>
{% endblock %}

{% block parent_menu%}
    {% if request.user.is_parent %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Patients <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="add-patient-btn" data-toggle="modal" data-target="#new_patient_modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></li>
                <li class="divider"></li>
                <li><a href="#"></a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <blockquote>
            <h4><i>Welcome {{request.user.first_name}} {{request.user.last_name}}!</i></h4>
        </blockquote>

        <div class="modal fade" id="new_patient_modal" tabindex="-1" role="dialog" aria-labelledby="newPatientModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New Patient</h4>
                    </div>
                    <form class="form-horizontal" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" name="id_parent" value="{{parent.id}}">
                            <div class="form-group top-separator">
                                <label for="first_name" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-sm-2 control-label">Surname</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_surname" maxlength="30" name="surname" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date_of_birth" class="col-sm-2 control-label">Date of Birth</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_date_of_birth" name="date_of_birth" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gender</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label><input type="radio" id="id_gender" name="gender" value="M" required>Male</label>
                                        <br>
                                        <label><input type="radio" id="id_gender" name="gender" value="F" required>Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="clinician" class="col-sm-2 control-label">Clinician</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="id_clinician" name="clinician" required>
                                        <option value="-1">Choose your preferred Clinician</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Use parent's address?</label>
                                <div class="col-sm-10">
                                    <input name="use_parent_address" type="checkbox" id="id_use_parent_address" />
                                </div>
                            </div>
        
                            <div id="new_patient_address">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_address" maxlength="100" name="address" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Suburb</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_suburb" maxlength="30" name="suburb" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">State</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_state" maxlength="30" name="state" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Postcode</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_postcode" maxlength="30" name="postcode" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Country</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="id_country" name="country">
                                            <option value="-1">Choose one...</option>
                                            {% countries as countries %}
                                            {% for con in countries %}
                                                <option value="{{con.alpha2}}">{{con.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="registration-submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">#</th>
                    <th class="col-md-2">Given Names</th>
                    <th class="col-md-2">Surname</th>
                    <th class="col-md-2">Date of Birth</th>
                    <th class="col-md-2">Centre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{patient.given_names|title}}</td>
                        <td>{{patient.family_name|title}}</td>
                        <td>{{patient.date_of_birth|date:"jS F Y"}}</td>
                        <td>
                            {% for wg in patient.working_groups.all %}
                                {{wg.name}}
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="not_implemented()">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Details
                            </button>
                            <button class="btn btn-danger btn-sm" onclick="not_implemented()">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </button>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-info">Please log in to access the registry.</div>
    {% endif %}
{% endblock %}