{% extends "rdrf_cdes/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
<link href="{% static 'css/jquery.bootgrid.css' %}" rel="stylesheet">
 <script src="{% static 'js/jquery.bootgrid.js' %}"></script>
{% endblock %}
{% block content %}
        <table id="grid"   class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="id" data-formatter="id">Demographics</th>
                    <th data-column-id="given_names">Given Names</th>
                    <th data-column-id="family_name">Family Name</th>
                    <th data-column-id="working_groups_display">Working Groups</th>
                    <th data-column-id="reg_list">Registry</th>
                    <th data-column-id="date_of_birth">Date of Birth</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Forms</th>

                </tr>
            </thead>
        </table>
        <!-- Scripts -->

        <script>
            $(document).ready(function () {

                $.ajaxSetup({beforeSend: function (xhr) {
                    var csrfToken = '{{ csrf_token }}';
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }});

                var grid = $('#grid').bootgrid({
                    ajax: true,
                    url: "{% url 'api_get_search' 'v1' 'patient'  %}",
                    responseHandler: function (response) {
                        return response;
                    },

                    formatters: {
                        "id": function (column, row) {
                            var reg_div = $("<div>");
                        
                            row.reg_code.forEach(function(reg) {
                                var link = "{% url 'patient_edit' 888 999 %}".replace("/999", "/" + row.id).replace("/888", "/" + reg);
                                
                                var edit_link = $("<a>");
                                edit_link.attr("href", link);
                                edit_link.attr("class", "btn btn-sm btn-warning btn-block");
                                
                                var pencil_icon = $("<span>").attr("class", "glyphicon glyphicon-pencil");
                                pencil_icon.attr("aria-hidden", "true");
                                
                                edit_link.append(pencil_icon);
                                edit_link.append(" Edit (" + reg + ")");
                                
                                reg_div.append(edit_link);
                            });
                            
                            return reg_div.prop('outerHTML');
                        },

                        "commands": function (column, row) {
                            //return row.forms_html
                            return row.forms_html;


                        }

                    }
                }).on("loaded.rs.jquery.bootgrid", function() {
                    $(".rdrflauncher").change(function () {
                        if ($(this).val() != "---") {
                            window.location = $(this).val();
                        }
                    })
                })

                });

        </script>

{% endblock %}