{% extends "rdrf_cdes/base_questionnaire.html" %}

{% load get_display_name %}
{% load get_questionnairesection_help %}
{% load is_formset %}
{% load get_management_form %}
{% load lookup %}
{% load get_forms %}
{% load get_form_var %}
{% load widget_name %}
{% load add_attr %}
{% load static %}

{% block title %}
    {{registry|upper}} Questionnaire
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
          $( ".datepicker" ).datepicker({
            showOn: "button",
            buttonImage: '{% static 'images/calendar.gif' %}',
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            yearRange: '-100:+0',
          });
        });

        $(document).ready(function() {
             $("glyphicon-question-sign").tooltip({placement: 'top'});

        });
    </script>
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if prelude_file %}
    {% include prelude_file %}
    {% endif %}

    <p>
    </p>
    <div class="alert alert-danger" id="msg-box">Red fields are required</div>

    <form enctype="multipart/form-data" class="form" method="post" id="questionnaire-form">{% csrf_token %}
    
        {% for s in sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{display_names|get_display_name:s}}</b>
                    {% if s|get_questionnairesection_help %}
                        <span  class="glyphicon glyphicon-question-sign pull-right" title="{{ s|get_questionnairesection_help }}" data-toggle='tooltip'  data-placement='left' data-container='body'></span>
                    {% endif %}
                </div>

                <div class="panel-body">
                    {% if forms|is_formset:s %}
                        <!-- start management form for {{s}}-->
                        {{ forms|get_management_form:s }}
                        <!-- end management form for {{s}} -->
                        <button id="add_button_for_section_{{s}}" type="button" class="btn btn-success btn-small"><i class="icon-white icon-plus"></i> Add</button>
                        <table class="table" id="section_table_{{s}}">
                            <script>
                                $(document).ready(function() {
                                    $("#section_table_{{s}}").allow_dynamic_formsets({
                                        cde_codes: '{{section_field_ids_map|lookup:s}}',
                                        add_button_id: "add_button_for_section_{{s}}",
                                        remove_button_id: "remove_button_for_section_{{s}}",
                                        table_id: "section_table_{{s}}",
                                        total_forms_id: "{{total_forms_ids|lookup:s}}",
                                        initial_forms_id: "{{initial_forms_ids|lookup:s}}",
                                        formset_prefix: "{{formset_prefixes|lookup:s}}"
                                    });
                                });
                            </script>
                            {% for f in forms|get_forms:s %}
                                {{ f.as_table }}
                                <tr id="remove_formset_{{s}}_{{forloop.counter0}}" class="actionbutton">
                                    <td onclick="do_remove(this,'section_table_{{s}}',{{section_element_map|lookup:s|length}},'id_formset_{{s}}-TOTAL_FORMS','id_formset_{{s}}-INITIAL_FORMS');"><button type="button" class="btn btn-danger btn-small">
                                        <i class="icon-white icon-minus"></i> Remove
                                    </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <table class="table table-bordered table-hover table-condensed">
                            {% autoescape off %}
                                {% get_form_var forms s as form %}
                                {% for field in form %}
                                    <tr class="{{ field.field.required|yesno:"danger," }}">
                                        <td style="width: 40%; vertical-align: middle;">{{ field.label }}</td>
                                        <td>
                                                {{field}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endautoescape %}
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-body">
                Thank you for completing the {{ registry.name }} questionnaire. The information you have provided wil be reviewed by your clinician and downloaded into the registry.
            </div>
        </div>

        <input id="submit_button" type="submit" class="btn btn-primary btn-small pull-right" value="Save"/>
    </form>

{% endblock %}
