{% extends "rdrf_cdes/base.html" %}
{% load staticfiles %}

{% block extrastyle %}
{% endblock %}

{% block content %}
    <div class="page-header">
       <h1>RDRF Reports <small>{{user.first_name}} {{user.last_name}} ({{user.title}})</small></h1>
    </div>

    <br>

    <div class="well">
        {% if reports %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i>Registry</i></th>
                    <th><i>Report name</i></th>
                    <th><i>Download</i></th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{report.registry.name}}</td>
                        <td>{{report.title}}</td>
                        <td><a href="{% url 'explorer_query_download' report.id %}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h4><i>No reports</i></h4>
        {% endif %}
    </div>

{% endblock %}