{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
    <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/variation/variation.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/variation/entry.css' %}"> -->


    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script>
        var Entry = {
            Save: function(form) {
                    var constructedValue = Entry.asString();
                    // NB this function is/must be  "attached" to the new window object by the parent window
                    window.updateParentForm(constructedValue);
            },

            asString: function () {
                var s = document.getElementById("sequence-type").value + ".";

                var rangeStart = document.getElementById("range-start").value;
                var rangeEnd = document.getElementById("range-end").value;
                if (rangeEnd.length > 0 && rangeEnd != rangeStart) {
                    s += rangeStart + "_" + rangeEnd;
                }
                else {
                    s += rangeStart;
                }

                var oldSequence = document.getElementById("sequence").value;
                var newSequence = document.getElementById("new-sequence").value;

                switch (document.getElementById("mutation-type").value) {
                    case "substitution":
                        s += oldSequence + ">" + newSequence;
                        break;

                    case "deletion":
                        s += "del" + oldSequence;
                        break;

                    case "insertion":
                        s += "ins" + newSequence;
                        break;

                    case "duplication":
                        s += "dup" + oldSequence;
                        break;

                    case "indel":
                        s += "del" + oldSequence + "ins" + newSequence;
                        break;

                    case "inversion":
                        s += "inv";
                        break;

                    default:
                        s += "(=)";
                }

                return s;
            }
        };

        (function () {
            var hideRangeEnd = function () {
                document.getElementById("range-end").value = "";
                document.getElementById("range-end-container").style.display = "none";
            };

            var queueUpdatePreview = (function () {
                var timeout = null;

                return function () {
                    if (timeout) {
                        window.clearTimeout(timeout);
                    }

                    timeout = window.setTimeout(function () {
                        timeout = null;
                        updatePreview();
                    }, 100);
                };
            })();

            var setSequenceLabel = function (label) {
                var element = document.getElementById("sequence-label");

                while (element.childNodes.length > 0) {
                    element.removeChild(element.firstChild);
                }

                element.appendChild(document.createTextNode(label));
            };

            var showSequences = function (oldSequence, newSequence) {
                if (oldSequence) {
                    document.getElementById("sequence-container").style.display = "block";
                }
                else {
                    document.getElementById("sequence-container").style.display = "none";
                    document.getElementById("sequence").value = "";
                }

                if (newSequence) {
                    document.getElementById("new-sequence-container").style.display = "block";
                    setSequenceLabel("Old sequence:");
                }
                else {
                    document.getElementById("new-sequence-container").style.display = "none";
                    document.getElementById("new-sequence").value = "";
                    setSequenceLabel("Sequence:");
                }
            };

            var showRangeEnd = function () {
                document.getElementById("range-end-container").style.display = "inline";
            };

            var updateForm = function () {
                var type = document.getElementById("mutation-type").value;

                if (type == "substitution") {
                    // Substitutions always apply to a single point only.
                    hideRangeEnd();
                    showSequences(true, true);
                }
                else {
                    showRangeEnd();

                    if (type == "deletion") {
                        showSequences(true, false);
                        setSequenceLabel("Deleted sequence: (optional)");
                    }
                    else if (type == "insertion") {
                        showSequences(false, true);
                    }
                    else if (type == "duplication") {
                        showSequences(true, false);
                        setSequenceLabel("Duplicated sequence: (optional)");
                    }
                    else if (type == "indel") {
                        showSequences(true, true);
                        setSequenceLabel("Old sequence: (optional)");
                    }
                    else if (type == "inversion") {
                        showSequences(false, false);
                    }
                    else {
                        // Dunno!
                        showSequences(true, true);
                    }
                }
            };

            var updatePreview = (function () {
                var timeout = null;
                var validity = document.getElementById("validity");

                var clearValidity = function () {
                    while (validity.childNodes.length > 0) {
                        validity.removeChild(self.validity.firstChild);
                    }

                    validity.className = "validity";
                };

                var checkValidity = function (s) {
                    // need to call into RPC ?
                };

                return function () {
                    var preview = document.getElementById("preview");

                    while (preview.childNodes.length > 0) {
                        preview.removeChild(preview.firstChild);
                    }

                    var s = Entry.asString();
                    if (s.length > 0) {
                        document.getElementById("preview-container").style.display = "block";
                        preview.appendChild(document.createTextNode(s));

                        if (timeout) {
                            window.clearTimeout(timeout);
                        }

                        timeout = window.setTimeout(function () {
                            checkValidity(s);
                        }, 500);
                    }
                    else {
                        document.getElementById("preview-container").style.display = "none";
                    }

                    return true;
                };
            })();

            var init = function () {
                document.getElementById("mutation-type").onchange = function (e) {
                    updateForm();
                    updatePreview();
                    return true;
                };

                document.getElementById("sequence-type").onchange = updatePreview;
                document.getElementById("range-start").onchange = updatePreview;
                document.getElementById("range-end").onchange = updatePreview;
                document.getElementById("sequence").onchange = updatePreview;
                document.getElementById("new-sequence").onchange = updatePreview;

                document.getElementById("sequence-type").onkeyup = queueUpdatePreview;
                document.getElementById("range-start").onkeyup = queueUpdatePreview;
                document.getElementById("range-end").onkeyup = queueUpdatePreview;
                document.getElementById("sequence").onkeyup = queueUpdatePreview;
                document.getElementById("new-sequence").onkeyup = queueUpdatePreview;

                updateForm();
            };

            if (window.onload) {
                var onload = window.onload;

                window.onload = function () {
                    onload();
                    init();
                };
            }
            else {
                window.onload = init;
            }
        })();
    </script>
</head>
<body style="margin-left: 50px">
    <h1>Enter genetic variation</h1>

    <form id="variation-entry-form">
        <!-- We should probably do something with genes here. -->

        <fieldset class="module aligned">
            <div class="form-row">
                <label for="sequence-type">Sequence type:</label>
                <select id="sequence-type">
                    <option value="g">Genomic</option>
                    <option value="c">Coding DNA</option>
                    <option value="r">RNA</option>
                    <option value="m">Mitochondrial DNA</option>
                    <!-- TODO: Protein. -->
                </select>
            </div>

            <div class="form-row">
                <label for="mutation-type">Mutation type:</label>
                <select id="mutation-type">
                    <option value="substitution">Substitution (point mutation)</option>
                    <option value="deletion">Deletion</option>
                    <option value="insertion">Insertion</option>
                    <option value="duplication">Duplication</option>
                    <option value="indel">Insertion/Deletion</option>
                    <option value="inversion">Inversion</option>
                    <!--
                    Not implemented from Mutalyzer: frame shift; micro
                    satellite.
                    -->
                </select>
            </div>

            <div class="form-row">
                <label for="range-start">Range:</label>
                <input class="form-control" type="text" id="range-start" size="10">
                <span id="range-end-container">
                    &ndash;
                    <input type="text" id="range-end" size="10">
                </span>
                <p class="help">
                    Positions are expected to be represented according to the
                    <a href="http://www.hgvs.org/mutnomen/recs-DNA.html#number" target="_blank">HGVS nomenclature rules</a>.
                </p>
            </div>

            <div class="form-row" id="sequence-container">
                <label for="sequence" id="sequence-label">Sequence:</label>
                <input type="text" id="sequence" size="20">
            </div>

            <div class="form-row" id="new-sequence-container">
                <label for="new-sequence">New sequence:</label>
                <input type="text" id="new-sequence" size="20">
            </div>

            <div class="form-row" id="preview-container">
                <label>Preview:</label>
                <span id="preview"></span>
                <span id="validity"></span>
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" id="save" value="Save" class="default" onclick="Entry.Save(this);">
            <input type="button" id="close" value="Close" onclick="window.close();">
        </div>
    </form>
</body>
</html>