{% extends "admin/change_form.html" %}
{% load staticfiles %}
{% load stickiness %}
{% load i18n admin_urls admin_static admin_modify %}
{% load get_patient %}
{% load has_feature %}

{% block extrastyle %}
    {{block.super}}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script>

        $(document).ready(function() {
            selected_registry = '{% sticky_registry request %}';
            if (selected_registry) {
                $('#id_rdrf_registry').find('option[value="' + selected_registry + '"]').attr("selected",true);
            } else {
                $('#id_rdrf_registry').find('option:first').attr("selected",true); 
            }
        });

        $(document).ready(function(){
            // Add a "cancel button"
            var add_another_button = $("button[name='_addanother']");
            var cancel_button = add_another_button.clone().attr("name","cancel_button").attr("type","button").text("Cancel").click(function () {
                window.location.replace('{% url 'admin:patients_patient_changelist' %}');
            });
            cancel_button.insertAfter(add_another_button);
        });

    </script>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: '{% static 'images/calendar.gif' %}',
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      minDate: '-100Y',
      maxDate: '+0Y',
      yearRange: '-100:+0',
    });
  });
  </script>

  <script>
       function setPatientRelativeFormVisiblity(visible) {
           var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
           var rpc = new RPC.RPC("{% url 'rpc' %}", csrfToken);
           if (visible) {
               rpc.send("fh_patient_is_index", [{{object_id}}],
           function (data) {
               var result = data.result;
               if (result) {
                   $("#relatives-group").show();
               }
               else {
                   $("#relatives-group").hide();
               }
           }

       )
           ;
       }
       else
       {
           $("#relatives-group").hide();
       }
       }


       function setupPatientRelativeForm() {
           var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
           var rpc = new RPC.RPC("{% url 'rpc' %}", csrfToken);
           rpc.send("visibility",["PatientRelativeForm"], function (data) {
               setPatientRelativeFormVisiblity(data.result);
           })
       }

      $(document).ready(function(){
         setupPatientRelativeForm();
      });
  </script>
  
  <script>
    function select_country(obj) {
        state_id = obj.id.replace("country", "state");
        state_select = $('#' + state_id);
        state_select.find('option').remove();
        $.get( "{% url 'state_lookup' 999 %}".replace(999, obj.value), function( data ) {
            if (data) {
                $.each(JSON.parse(data), function(i, item) {
                    state_select.append("<option value=" + item.code +">"+ item.name +"</option>");
                })
            }
        });
    }
  </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">Patient List</a>{% else %}Patient List{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
&rsaquo;&rsaquo;
{% for form_link in form_links %}
    {% if request.user.is_working_group_staff %}
        {{form_link.text}}
    {% else %}
        <a href="{{form_link.url}}">{{form_link.text}}</a>
    {% endif %}
    {% if not forloop.last %}
        <span class="divider">»</span>
    {% endif %}

{% endfor %}

</div>
{% endblock %}

{% block content %}
{% include "messages_ui/_messages.html" %}
{% get_patient object_id as patient %}
{% if patient %}
    {% if patient|has_feature:"family_linkage" %}
        <fieldset id="familylinkage" class="module aligned with-legend">
            <h2 class="legend">Family Linkage</h2>
            {% if patient.my_index %}

                <div class="control-group form-row">

                    <div class="control-label">
                        <label>Linkage</label>
                    </div>

                    <div class="controls">
                     This patient is a relative of index <a href="{% url 'admin:patients_patient_change' patient.my_index.id %}">{{ patient.my_index}} (DOB {{patient.my_index.date_of_birth}})</a>
                    </div>

                </div>

            {% else %}
                {% if patient.is_index %}
                    <div class="control-group form-row">
                       <div class="control-label">
                            <label>Linkage</label>
                        </div>

                        <div class="controls">
                            This patient is an index
                        </div>

                   </div>
                {% endif %}
            {% endif %}
      </fieldset>

     <script>
         jQuery(document).ready(function() {
             // this is the jquery way - seems odd
             if($("#familylinkage").length){
                 $("#familylinkage").prependTo(".tab-content-main");
             }
         })
     </script>
    {% endif %}
{% endif %}

{{ block.super }}
{% endblock %}