{% extends 'admin/base.html' %}
{% load staticfiles %}
{% block extrahead %}
    {% if not request.user.is_superuser %}
    <style>
        .suit-columns{padding-left:10px;padding-right:40px;}
        #wrap{background:url() top left repeat-y}
    </style>
    {% endif %}
    <script src="{% static 'js/rpc_module.js' %}"></script>
{% endblock %}

{% block footer %}
  {% if not is_popup %}
    {% include 'rdrf_cdes/footer.html' %}
  {% endif %}
{% endblock %}

{% block content-left %}
{% if request.user.is_superuser %}
{{ block.super }}
{% else %}
{% endif %}
{% endblock %}
